<div class="card text-white bg-dark mb-3">
    <div class="card-header">Clients</div>
    <div class="card-body">
        <h5 class="card-title">List Clients</h5>

        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-outline-warning" type="button" [routerLink]="[ '/clients/form' ]">New Client</button>
        </div>

        <div *ngIf="clients?.length == 0" class="alert alert-info">
            No hay registros en la base de datos ?
        </div>

        <table class="table table-bordered table-striped text-white" *ngIf="clients?.length > 0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{client.id}}</td>
                    <td>{{client.name }}</td>
                    <td>{{client.last_name | uppercase}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.createAt | date:"dd-MMMM-yyyy"}}</td>
                    <td>
                        <button type="button" name="update" [routerLink]="[ '/clients/form',client.id ]" class="btn btn-outline-warning">Edit</button>
                    </td>
                    <td>
                        <button type="button" name="delete" (click)="delete(client)" class="btn btn-outline-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav-paginator *ngIf="paginator" [paginator]="paginator"></nav-paginator>
    </div>
</div>